@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;1,800&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

$font-family-sans-serif: 'Montserrat','Source Sans Pro', sans-serif;
$primary :#53C351;

$Secondary :#e1eeec;
$color : #7E7A7A;

body{
    background-image: linear-gradient(to bottom, #e3eeec, #e6f2ed, #ebf5ee, #f0f8ee, #f7fbef);
    
    
}
.rectangle {
    height: 500px;
    width: auto;
    background-color: #1C3A27;
    border-radius :20px;
  }
.owl-prev{
    display: none !important;
}
.owl-next span {
    position: absolute;
    right: -30px !important;
    top: 50px !important;
    /* border: 1px solid white; */
    /* background-color: white; */
    color: white !important;
    font-size: 2em !important;
    /* border-radius: 50% !important; */
}




@import "../node_modules/bootstrap/scss/bootstrap";
